<%- include('partials/header') %>

<div class="glass-container">
    <i class="fas fa-user-shield fa-5x mb-4"></i>
    <h1 class="display-4">My Secret</h1>
    
    <% if (secret) { %>
        <p class="secret-text">"<%= secret %>"</p>
    <% } else { %>
        <p class="secret-text">You haven't shared a secret yet...</p>
    <% } %>

    <div class="mt-4">
        <a class="btn-custom btn-light-custom" href="/submit">Update</a>
        <a class="btn-custom btn-dark-custom" href="/logout">Logout</a>
    </div>
</div>

<%- include('partials/footer') %>